<div class="container">
  <!-- ... (previous content) -->

  <div class="search-user">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search users" (input)="applyFilter()" />
  </div>

  <!-- Add margin here -->
  <div class="user-list">
    <ul>
      <!-- Loop through and display users -->
      <li *ngFor="let user of filteredUsers" class="user-item">
        <div class="user-details">
         <div class="user-name">{{ user.name }}</div>
          <div class="user-email">{{ user.email }}</div>
          <!-- Add more user details as needed -->
        </div>
        <div class="user-actions">
          <button mat-icon-button class="editButton" (click)="editUser(user.id,{})">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="removeButton" (click)="removeUser(user.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </li>
    </ul>
  </div>

  <!-- Create New User Button -->
  <button mat-fab color="primary" class="circular-button" (click)="openCreateDialog()">
    <mat-icon style="color: aliceblue;">add</mat-icon>
  </button>
</div>
