<div class="card">
    
        <section class="company-info">
            <div class="info-text">
                <p>𝐒𝐏𝐉𝐀 is an Agricultural Company that blends Innovation and Farming, founded by the visionary agriculturalist, John Smith, in 2021, at the heart of Rural America.</p>
                <p>𝐒𝐏𝐉𝐀 specializes in: Cutting-edge Crop Cultivation / Sustainable Farming Practices and More...</p>
                <p>𝐒𝐏𝐉𝐀 brings together a new community of forward-thinking individuals to cultivate the future of agriculture with 𝐒𝐏𝐉𝐀 "within you."</p>
                <p>Our agricultural operations are based in the fertile lands of the Midwest, while our commitment extends to environmental and social stewardship. We allocate 10% of our profits to support local farming communities.</p>
            </div>
            <div class="info-image">
                <img src="assets/images/pic.jpeg" alt="Agriculture Image">
            </div>
        </section>

       
</div>